/files/srcs/sprites/*.o
/files/srcs/parsing/*.o
/files/srcs/raycasting/*.o
/files/srcs/utils/*.o
/files/srcs/save/*.o
/files/textures/*.XPM
/files/textures/*.png
/files/main.o
/minilibx/*.o
/minilibx/*.a
/libft/*.o
/get_next_line/*.o
cub3D
a.out*
